package components

templ Layout() {
	<html>
		<head>
			<title>Go HTMX and templ todo app</title>
			<script src="/assets/htmx.min.js"></script>
			<link rel="stylesheet" type="text/css" href="/assets/index.css"/>
		</head>
		<body>
			<main class="px-2 p-8 max-w-screen-lg mx-auto">
				<h1 class="text-xl mb-4">Go HTMX and templ todo app (kind of)</h1>
				{ children... }
			</main>
		</body>
	</html>
}
