package components

templ Layout() {
	<html>
		<head>
			<title>Go HTMX and templ todo app</title>
			<script src="/assets/htmx.min.js"></script>
			<link rel="stylesheet" type="text/css" href="/assets/index.css"/>
		</head>
		<body>
			<h1>Go HTMX and templ todo app (kind of)</h1>
			{ children... }
		</body>
	</html>
}
